.my-navbar {
  position: relative;
  justify-content: space-between;
}

.my-navbar.mat-toolbar-single-row {
  height: 55px;
}

.ml-1 {
  margin-left: 1.5rem;
}

.ml-2 {
  margin-left: 2.5rem;
}

.mb-1 {
  margin-bottom: 6px;
}

