<div class="col-12 p-0">
  <mat-toolbar color="primary" class="my-navbar mat-elevation-z10">
    <div>
      <span class="ml-1 ml-sm-0">
        <a mat-button routerLink="/">
          <mat-icon class="mb-1">home</mat-icon> Help-U
        </a>
      </span>
      <span class="ml-1 ml-sm-0">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/contact">Contact</a>
      </span>
    </div>
    <div class="d-none d-sm-block">
      <span *ngIf="!user">
        <a mat-button routerLink="/sign-in">Sign In</a>
      <a mat-button routerLink="/sign-up">Sign Up</a>
      </span>
      <span *ngIf="user">
        <button mat-button (click)="userLogout()">Logout</button>
      </span>
    </div>
    <div class="d-block d-sm-none">
      <mat-menu #authMenu="matMenu">
      <span *ngIf="!user">
          <a mat-menu-item routerLink="/sign-in">Sign In</a>
        <a mat-menu-item routerLink="/sign-up">Sign Up</a>
      </span>
        <span *ngIf="user">
           <button mat-button (click)="userLogout()">Logout</button>
        </span>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="authMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
