.help-u-forgot .form-full-width {
  width: 100%;
}

.help-u-forgot mat-card-title {
  margin-bottom: 30px;
  text-align: center;
  color: #3f51b5;
}
.help-u-forgot .text-center {
  text-align: center;
}
.help-u-forgot .text-danger {
  color: #f44336;
}
.help-u-forgot .forgot-password{
  color: #3f51b5;
  cursor: pointer;
}
