<div class="help-u-forgot">
  <div class="col-lg-4 mx-auto mt-5">
    <mat-progress-bar *ngIf="isVisible" mode="indeterminate"></mat-progress-bar>
    <mat-card class="mat-elevation-z6">
      <mat-card-title>Forgot Password</mat-card-title>
      <form class="sign-in-form" [formGroup]="userForgotPassword" (ngSubmit)="handleForgotPassword()">
        <mat-form-field appearance="outline" class="form-full-width">
          <mat-label>Email</mat-label>
          <input formControlName="userEmail" type="email" matInput name="userEmail">
          <mat-icon matSuffix color="primary">mail</mat-icon>
          <mat-hint align="end" routerLink="/sign-in"><span class="forgot-password">Back to Sign-in</span></mat-hint>
        </mat-form-field>
        <div class="text-center">
          <button [disabled]="userForgotPassword.invalid || isVisible" mat-raised-button color="primary">Submit</button>
        </div>
      </form>
      <p class="text-center text-danger my-3 mat-caption">{{authError?.message}}</p>
    </mat-card>
  </div>
</div>
